build
dist
dwave_networkx.egg-info
*.pyc

venv/

docs/reference/generated/
docs/reference/algorithms/generated/
docs/reference/drawing/generated/
docs/_build

htmlcov/
.coverage

# sublime stuff
*.sublime-project
*.sublime-workspace
